/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)


- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700
Black: 900

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: 
- Tints:


- Shades: 


- Accents:
- Greys


--- 05 SHADOWS


--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)

*/

:root {
  /* color variables */
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  font-weight: 400;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/**************************/
/* GENRAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1200px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}
