/*=============== HEADER & NAV ===============*/

nav {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.logo {
  height: 60px;
  width: 200px;
}

.nav-link {
}
/* mobile menu */

/*=============== HERO SECTION ===============*/
