/*=============== HEADER & NAV ===============*/

nav {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.logo {
  height: 60px;
  width: 200px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}
/* mobile menu */

/*=============== HERO SECTION ===============*/
