/*=============== HEADER & NAV ===============*/

header {
  background-color: var(--hero-background);
  height: 100vh;
}
nav {
  display: flex;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
}

.logo {
  height: 60px;
  width: 200px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.sign-in {
  color: #ffffff;
  padding: 12px 28px;
  width: 104px;
  height: 43px;
  background: #21b573;
  border-radius: 33px;
}

/* mobile menu */

/*=============== HERO SECTION ===============*/

.hero {
  display: flex;
}

.hero-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.are-you-ready {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fd511a;
}

h1 {
  font-family: 'Poppins', sans-serif;

  font-weight: 700;
  font-size: 48px;
  line-height: 140%;
  color: #000000;
}

.h1-span {
  color: #21b573;
}

.hero-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
